services:
  postgres:
    image: 'postgres:latest'
    environment:
      POSTGRES_DB: DbPulse
      POSTGRES_PASSWORD: admin1234
      POSTGRES_USER: admin
    ports:
      - '5432:5432'
    restart: unless-stopped
    volumes:
      - 'postgres_data:/var/lib/postgresql/data'

volumes:
  postgres_data:
